body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h4{
    color: aliceblue;
}

.ColorPick{
    position: absolute;
    left:  100px;
    top: 0px;

    padding: 20px;

    background-color: #1e2841;
    border-radius: 12px;
}

#foreColor{
    width: 100px;
    height: 100px;
}

#backColor{
    width: 100px;
    height: 100px;
}

#menu{
    display: block;
    width: 700px;
    position: absolute;
    height: 1000px;
    left: 0;
    top: 100px;
}

.objSelect
{
    color: greenyellow;
   
}

.objNotSelect
{
    color: wheat;
}

.objShape
{
    border-bottom: 1px dashed wheat;
    cursor: pointer;
    margin: 8px;
}

.highlight {
    color: wheat;
    cursor:pointer;
}

.highlight:hover {
    color: greenyellow;
}
